VITE_INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
VITE_INFLUX_ORG=Aryy
VITE_INFLUX_BUCKET=soil_moisture
VITE_INFLUX_MEASUREMENT=soil_moisture
VITE_INFLUX_TAGS=deviceId=esp32-01,location=greenhouse-a
VITE_INFLUX_TOKEN=
